<div class='btn-group'>
    <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='setPagePagination(currentPage)'>&laquo;</button>
    <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPagePagination(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
    <button type='button' class='btn btn-default' ng-disabled='currentPage >= paginationData/pageSize - 1' , ng-click='setPagePagination(currentPage,true)'>&raquo;</button>
</div>